body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

:root {
    --title-color: #0c0604;
    --bg-color: rgba(128, 83, 78, 0.4);
    --box-shadow: 6px 6px 20px rgba(181, 99, 99, 0.416);
    --bg-title-color: #a76e58;
    --text-color: #000;
    --second-title-color: rgb(151, 81, 62);
    --tech-list-color: #070707;
    --second-text-color: rgb(0, 0, 0);
    --primary-white-color: #fff;
}

.main-section {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: var(--bg-color);
    margin: 40px auto;
    box-shadow: var(--box-shadow);
}

.sidebar-section {
    background: #8f6d68;
    width: 350px;
    padding: 40px 0;

}

.main-content-section {
    padding: 90px 90px;
}

.main-content-title {
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 27px;
    color: var(--title-color);
    background: var(--bg-title-color);
}

.about-me-section {
    margin: 0 0 40px 0;
}

.about-me-profession {
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 24px;
    color: var(--text-color);
    margin: 0 0 20px 0;
}

.about-me-name {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: var(--title-color);
    margin: 0 0 25px 0;
}

.about-me-name-description {
    font-size: 20px;
    line-height: 24px;
    color: var(--title-color);
}



.my-projects-list {
    padding: 0 0 0 17px;
}



.my-projects-text {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: var(--text-color);
    margin-left: 5px;
    display: flex;
}

.tech-list {
    font-weight: bold;
    font-size: 20px;
    color: var(--tech-list-color);
    margin-bottom: 10px;
    margin-top: 10px;
}

.project-text { 
        font-size: 20px;
        line-height: 24px;
        color: #010a00;
        margin-bottom: 20px;
}

.my-projects-link {
    font-weight:bold;
    font-size: 26px;
    line-height: 24px;
    color: var(--bg-title-color);
}

.section {
    margin-bottom: 45px;
}

.company {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 20px;
    color: var(--bg-title-color);
    margin-bottom: 10px;
    margin-top: 20px;
}
.dutles {
    padding-left: 15px;
}

.period {
    font-size: 20px;
    line-height: 15px;
    color: var(--second-text-color) ;
    margin: 0 0 10px 0;
}

.divider {
    color: var(--text-color);
}

.Contacts-section,
.Tech-Skills-section {
    margin: 50px 0 0 40px;
}


.contacts-section-link {
    color: var(--primary-white-color);
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
}


.list {
    padding: 0 0 0 10px;
}


.item-text {
    font-size: 18px;
    line-height: 24px;
    color: var(--primary-white-color);
}


.icon {
    margin-right: 10px;
    
}
